#name{
    display: inline-block;
}

.info{
    margin: auto;
    text-align: center;
    width: 60%;
}

body{
    background-image: url('bg/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 110%;
    
}